{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

## Usage

Define necessary values:

```yaml
global:
  oscServiceAccount: testuser
  imagePullSecret:
    password: SECRET
  ingress:
    host: testuser.k8.osc.edu
    hostAlias: testuser.osc.edu
  auth:
    idpHost: IDP
    clientID: client-id
    clientSecret: client-secret
    cookieSecret: secret
    allowGroups:
      - group
  alert:
    receiver:
  maintenance:
    groups:
  webui_secret_key: SECRET

open-webui:
  podLabels:
    osc.edu/service-account: testuser
  nodeSelector:
    node-role.kubernetes.io/webservices: ''
  ollama:
    nodeSelector:
      nvidia.com/gpu.product: NVIDIA-A100-PCIE-40GB-MIG-7g.40gb
      node-role.kubernetes.io/webservices: ''
    deployment:
      labels:
        osc.edu/service-account: testuser
    podLabels:
      osc.edu/service-account: testuser
    extraEnvVars:
      - name: CONFIG_ITEM
        value: "False"
    volumes:
      - name: data
        hostPath:
          path: /fs/ess/PROJECT
          type: Directory
      - name: home
        hostPath:
          path: /users/PROJECT/USER
          type: Directory
```

Below is an example of PAAS usage:

```yaml
---
global:
  imagePullSecret:
    create: false
  ingress:
    host: <USERNAME>.k8.osc.edu
    annotations:
      # Limit to OH-TECH VPN
      nginx.ingress.kubernetes.io/whitelist-source-range: '<OH-TECH VPN>'
  # Generate from the command 'uuidgen'
  webui_secret_key: <SECRET>
auth:
  enable: false
open-webui:
  persistence:
    storageClass: paas-nfs-client
  sso:
    enabled: false
  ollama:
    ollama:
      models:
        pull:
          - <model to pull>
        run:
          - <model to pull>
    nodeSelector:
      # Set MIG
      # One of
      # - NVIDIA-A100-PCIE-40GB-MIG-1g.5gb
      # - NVIDIA-A100-PCIE-40GB-MIG-3g.20gb
      # - NVIDIA-A100-PCIE-40GB-MIG-7g.40gb
      nvidia.com/gpu.product: <MIG>
    volumes:
      - name: data
        hostPath:
          path: /fs/scratch/<Primary group>/<Username>
          type: Directory
      - name: home
        hostPath:
          path: /users/<Primary group>/<Username>
          type: Directory
```

{{ define "chart.valuesTable" -}}
| Key | Description | Default |
|-----|-------------|---------|
{{- range .Values }}
| {{ .Key }} | {{ if .Description }}{{ .Description }}{{ else }}{{ .AutoDescription }}{{ end }} | {{ if .Default }}{{ .Default }}{{ else }}{{ .AutoDefault }}{{ end }} |
{{- end }}
{{- end -}}

{{ template "chart.valuesSection" . }}
