global:
  # -- The service account used by OSC deployments.
  # Also pulled from global.env.<env>.serviceAccount
  oscServiceAccount: ""
  # -- The deployment's OSC environment
  environment: production
  # -- The nodeSelector role
  nodeSelectorRole: webservices
  imagePullSecret:
    # -- Create the image pull secret
    create: true
    # -- image pull secret name
    name: osc-registry
    # -- OSC registry address
    registry: docker-registry.osc.edu
    # -- The image pull secret password for database images
    # @default -- **required**
    password:
  networkPolicy:
    # -- Create the network policy
    create: false
    # -- Labels for NetworkPolicy podSelector. Defaults to `"osc.common.selectorLabels"`
    podSelector: ~
    # Example define podSelector labels
    #  podSelector:
    #    app.kubernetes.io/name: test
    #
    # -- Labels of pods allowed to Ingress from the same namespace
    ingressAllowedPods: []
    # Example additional ingress labels
    #  ingressAllowedPods:
    #    - require: test
    #    - client: test
    #
  # -- Groups that debug pods
  debugGroups: []
  # -- Groups that can perform maintenance operations
  maintenanceGroups: []
  # -- Groups that are allowed to perform port forwarding
  portforwardGroups: []
  webservicesDeploy:
    # -- Create webservices deployment rolebinding
    create: true
  ingress:
    # Also pulled from global.env.$environment.ingress.host
    host: ""
    # Also pulled from global.env.$environment.ingress.hostAlias
    hostAlias: ""
    # -- Additional Ingress annotations
    annotations: ~
  auth:
    idpHost:
    clientID:
    clientSecret:
    cookieSecret:
    allowGroups: []
  alert:
    receiver:
  webui_secret_key:

# Used for network policies
ingressName: ingress-nginx
prometheusName: prometheus

auth:
  enable: true
  cookieName: _{{ include "osc.common.serviceAccountValue" . }}{{ include "osc.common.environment" . }}
  oidcIssuerURL: https://$(IDP_HOST)/realms/osc
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.1.3
    pullPolicy: IfNotPresent
  podSecurityContext:
    runAsNonRoot: true
  service:
    port: 4180
    annotations:
      prometheus.io/probe_module: http-healthz
      prometheus.io/probe_path: /ping
  metricsService:
    type: ClusterIP
    port: 8080
    annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/path: /metrics
  podResources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
  replicas: 1
  podDistributionBudget:
    minAvailable: 1

open-webui:
  nameOverride: open-webui
  # -- Set to force old names after upgrades
  fullnameOverride: open-webui
  serviceAccount:
    # -- Set to force old names after upgrades
    name: open-webui
  openaiApiKey: false
  pipelines:
    enabled: false
  websocket:
    enabled: false
  podLabels: {}
  # Example service account label
  # osc.edu/service-account: TODO
  image:
    repository: docker-registry.osc.edu/kubernetes/open-webui/open-webui
    tag: '0.8.2'
  imagePullSecrets:
    - name: osc-registry
  resources:
    limits:
      memory: 4Gi
      cpu: 2
    requests:
      memory: 2Gi
      cpu: 1
  copyAppData:
    resources:
      limits:
        memory: 1Gi
        cpu: 1
      requests:
        memory: 500Mi
        cpu: 500m
  ingress:
    enabled: false
  persistence:
    size: 10Gi
    storageClass: webservices-nfs-client
  nodeSelector: {}
  # Example node selector
  # nodeSelector:
  #   node-role.kubernetes.io/webservices: ''
  extraEnvVars: []
  commonEnvVars:
    - name: WEBUI_AUTH_TRUSTED_GROUPS_HEADER
      value: X-Auth-Request-Groups
    - name: ENABLE_OAUTH_GROUP_CREATION
      value: "True"
    - name: DEFAULT_USER_ROLE
      value: user
    - name: ENABLE_SIGNUP
      value: "True"
    - name: ENABLE_OAUTH_SIGNUP
      value: "False"
    - name: ENABLE_LOGIN_FORM
      value: "True"
    - name: WEBUI_AUTH
      value: "True"
    - name: ENABLE_VERSION_UPDATE_CHECK
      value: "False"
    - name: ENABLE_API_KEYS
      value: "True"
  extraEnvFrom:
    - secretRef:
        name: osc-open-webui-secret
  service:
    port: 80
    annotations:
      prometheus.io/probe_module: http
      prometheus.io/probe_scheme: http
  podSecurityContext:
    runAsNonRoot: true
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    seccompProfile:
      type: RuntimeDefault
    privileged: false
  sso:
    enabled: true
    trustedHeader:
      enabled: true
      nameHeader: X-Auth-Request-Preferred-Username
      emailHeader: X-Auth-Request-Email
  ollama:
    # Added so can be referenced
    fullnameOverride: open-webui-ollama
    image:
      repository: docker-registry.osc.edu/kubernetes/ollama/ollama
      tag: '0.16.1'
    imagePullSecrets:
      - name: osc-registry
    ollama:
      gpu:
        enabled: true
        type: nvidia
        number: 1
    nodeSelector: {}
    # Example using MIG product
    # nodeSelector:
    #   nvidia.com/gpu.product: NVIDIA-A100-PCIE-40GB-MIG-7g.40gb
    #   node-role.kubernetes.io/webservices: ''
    service:
      annotations:
        prometheus.io/probe_module: http
        prometheus.io/probe_scheme: http
    deployment:
      labels: {}
      # Example labels
      # labels:
      #   osc.edu/service-account: TODO
    podLabels: {}
    # Example labels
    # podLabels:
    #   osc.edu/service-account: TODO
    podSecurityContext:
      runAsNonRoot: true
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      seccompProfile:
        type: RuntimeDefault
      privileged: false
    resources:
      limits:
        memory: 8Gi
        cpu: 4
      requests:
        memory: 4Gi
        cpu: 2
    initContainers:
      - name: create-dirs
        image: docker-registry.osc.edu/kubernetes/busybox:latest
        imagePullPolicy: Always
        command: ['sh', '-c', 'mkdir -p /data/ollama-models /home/ollama/ollama-home']
        volumeMounts:
          - name: data
            mountPath: /data
          - name: home
            mountPath: /home/ollama
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          seccompProfile:
            type: RuntimeDefault
          privileged: false
    volumes: []
    # Example ESS mount
    # volumes:
    # - name: data
    #   hostPath:
    #     path: /fs/ess/TODO
    #     type: Directory
    # - name: home
    #   hostPath:
    #     path: /users/PROJECT/USER
    #     type: Directory
    volumeMounts:
      - name: data
        mountPath: /data
        subPath: ollama-models
      - name: home
        mountPath: /home/ollama
        subPath: ollama-home
    extraEnv:
      - name: OLLAMA_MODELS
        value: /data
      - name: HOME
        value: /home/ollama
      - name: OLLAMA_FLASH_ATTENTION
        value: '1'
