apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cryosparc.name" . }}-config
data:
  config.sh: |
    # Instance Configuration
    export CRYOSPARC_LICENSE_ID={{ .Values.license  | quote }}
    export CRYOSPARC_DB_PATH="/opt/cryosparc_master/database"
    export CRYOSPARC_BASE_PORT={{ .Values.service.basePort }}
    export CRYOSPARC_DB_CONNECTION_TIMEOUT_MS=20000
    # Security
    export CRYOSPARC_INSECURE=false
    export CRYOSPARC_DB_ENABLE_AUTH=true
    # Cluster Integration
    export CRYOSPARC_CLUSTER_JOB_MONITOR_INTERVAL=10
    export CRYOSPARC_CLUSTER_JOB_MONITOR_MAX_RETRIES=1000000
    # Project Configuration
    export CRYOSPARC_PROJECT_DIR_PREFIX='CS-'
    # Development
    export CRYOSPARC_DEVELOP=false
    # Other
    export CRYOSPARC_CLICK_WRAP=true
    # Required if the owner of the script is different from the caller
    export CRYOSPARC_FORCE_USER=true
    # Skip the hostname check
    export CRYOSPARC_FORCE_HOSTNAME=true
