apiVersion: v2
name: database
description: OSC database service Helm Chart
type: application
version: 0.14.0
appVersion: "0.1.0"
maintainers:
  - name: treydock
dependencies:
  - name: mariadb
    version: 11.4.2
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enable
  - name: postgresql
    version: 11.6.20
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enable
  - name: redis
    version: 23.2.12
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enable
  - name: osc-common
    version: 0.7.0
    repository: https://osc.github.io/osc-helm-charts/
    # repository: file://../osc-common
