apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: add-nodeselector
spec:
  validationFailureAction: Enforce
  background: true
  rules:
    - name: ondemand-nodeselector
      match:
        any:
          - resources:
              kinds:
              - Pod
              namespaces:
              - "user-?*"
      mutate:
        patchStrategicMerge:
          spec:
            nodeSelector:
              node-role.kubernetes.io/ondemand: ''
