apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: add-service-account
spec:
  validationFailureAction: Enforce
  background: true
  rules:
  - name: webservice-service-account-run-as
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaceSelector:
              matchExpressions:
              - key: osc.edu/role
                operator: In
                values:
                - webservice
    preconditions:
    - key: "{{`{{ request.object.metadata.labels.\"osc.edu/service-account\" || '' }}`}}"
      operator: NotEquals
      value: ""
    context:
    - name: uidMap
      configMap:
        name: user-uid-map
        namespace: k8-ldap-configmap
    - name: gidMap
      configMap:
        name: user-gid-map
        namespace: k8-ldap-configmap
    - name: gidsMap
      configMap:
        name: user-gids-map
        namespace: k8-ldap-configmap
    mutate:
      patchStrategicMerge:
        spec:
          securityContext:
            runAsUser: "{{`{{ uidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
            runAsGroup: "{{`{{ gidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
            fsGroup: "{{`{{ gidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
            supplementalGroups: "{{`{{ gidsMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\" | parse_json(@)[*].to_number(@) }}`}}"
  - name: webservice-service-account-run-as-containers
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaceSelector:
              matchExpressions:
              - key: osc.edu/role
                operator: In
                values:
                - webservice
    preconditions:
    - key: "{{`{{ request.object.metadata.labels.\"osc.edu/service-account\" || '' }}`}}"
      operator: NotEquals
      value: ""
    context:
    - name: uidMap
      configMap:
        name: user-uid-map
        namespace: k8-ldap-configmap
    - name: gidMap
      configMap:
        name: user-gid-map
        namespace: k8-ldap-configmap
    mutate:
      foreach:
      - list: "request.object.spec.[containers, initContainers][]"
        patchStrategicMerge:
          spec:
            containers:
            - (name): "*"
              securityContext:
                (runAsUser): "?*"
                runAsUser: "{{`{{ uidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
            initContainers:
            - (name): "*"
              securityContext:
                (runAsUser): "?*"
                runAsUser: "{{`{{ uidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
      - list: "request.object.spec.[containers, initContainers][]"
        patchStrategicMerge:
          spec:
            containers:
            - (name): "*"
              securityContext:
                (runAsGroup): "?*"
                runAsGroup: "{{`{{ gidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
            initContainers:
            - (name): "*"
              securityContext:
                (runAsGroup): "?*"
                runAsGroup: "{{`{{ gidMap.data.\"user-{{ request.object.metadata.labels.\"osc.edu/service-account\" }}\".to_number(@) }}`}}"
  - name: paas-service-account-run-as
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaceSelector:
              matchExpressions:
              - key: osc.edu/role
                operator: In
                values:
                - paas
    preconditions:
    - key: "{{`{{ serviceAccount }}`}}"
      operator: NotEquals
      value: ""
    context:
    - name: serviceAccount
      apiCall:
        urlPath: "/api/v1/namespaces/{{`{{ request.namespace }}`}}"
        jmesPath: "metadata.labels.\"{{ include "osc.common.serviceAccountKey" . }}\" || ''"
    - name: uidMap
      configMap:
        name: user-uid-map
        namespace: k8-ldap-configmap
    - name: gidMap
      configMap:
        name: user-gid-map
        namespace: k8-ldap-configmap
    - name: gidsMap
      configMap:
        name: user-gids-map
        namespace: k8-ldap-configmap
    mutate:
      foreach:
      - list: "request.object.spec"
        patchStrategicMerge:
          spec:
            securityContext:
              runAsUser: "{{`{{ uidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
              runAsGroup: "{{`{{ gidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
              fsGroup: "{{`{{ gidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
              supplementalGroups: "{{`{{ gidsMap.data.\"user-{{ serviceAccount }}\" | parse_json(@)[*].to_number(@) }}`}}"
      - list: "request.object.spec.[containers, initContainers][]"
        patchStrategicMerge:
          spec:
            containers:
            - (name): "*"
              securityContext:
                (runAsUser): "?*"
                runAsUser: "{{`{{ uidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
            initContainers:
            - (name): "*"
              securityContext:
                (runAsUser): "?*"
                runAsUser: "{{`{{ uidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
      - list: "request.object.spec.[containers, initContainers][]"
        patchStrategicMerge:
          spec:
            containers:
            - (name): "*"
              securityContext:
                (runAsGroup): "?*"
                runAsGroup: "{{`{{ gidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
            initContainers:
            - (name): "*"
              securityContext:
                (runAsGroup): "?*"
                runAsGroup: "{{`{{ gidMap.data.\"user-{{ serviceAccount }}\".to_number(@) }}`}}"
