# Source: https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/policies/default/disallow-host-path.yaml
# Exclude OnDemand pods from enforcement
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: disallow-nfs
  annotations:
    policies.kyverno.io/category: Pod Security Standards (Restricted)
    policies.kyverno.io/description: >-
      Restrict NFS volume usage
spec:
  validationFailureAction: enforce
  background: true
  rules:
  - name: nfs-volume
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaces:
            - "user-?*"
    validate:
      message: >-
        NFS volumes are forbidden. The fields spec.volumes[*].nfs must not be set.
      pattern:
        spec:
          =(volumes):
          - X(nfs): "null"
