# https://github.com/kyverno/policies/blob/main/other/restrict_loadbalancer.yaml
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: no-loadbalancers
spec:
  background: true
  validationFailureAction: Enforce
  rules:
  - name: no-loadbalancers
    match:
      any:
        - resources:
            kinds:
            - Service
    exclude:
      any:
        - resources:
            namespaces:
              - ingress-nginx
    validate:
      message: "Service of type LoadBalancer is not allowed."
      pattern:
        spec:
          type: "!LoadBalancer"
