apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: pod-requirements
  namespace: kyverno
spec:
  background: true
  validationFailureAction: enforce
  rules:
  - name: pods-require-account
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaces:
            - "user-?*"
    validate:
      message: "User pods must include an account for charging"
      pattern:
        metadata:
          labels:
            account: "*?"
  - name: pods-require-limits
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaces:
            - "user-?*"
    validate:
      message: "CPU and memory resource requests and limits are required for user pods"
      pattern:
        spec:
          containers:
          - resources:
              requests:
                memory: "?*"
                cpu: "?*"
              limits:
                memory: "?*"
                cpu: "?*"
