# Source: https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/policies/default/disallow-host-path.yaml
# Exclude OnDemand pods from enforcement
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: restrict-host-path
  annotations:
    policies.kyverno.io/category: Pod Security Standards (Default)
    policies.kyverno.io/description: >-
      HostPath volumes let pods use host directories and volumes in containers.
      Using host resources can be used to access shared data or escalate privileges
      and should be restricted.
spec:
  validationFailureAction: enforce
  background: true
  rules:
  - name: host-path
    match:
      any:
        - resources:
            kinds:
            - Pod
            namespaces:
            - "user-?*"
    validate:
      message: >-
        That HostPath volume is forbidden. The fields spec.volumes[*].hostPath must not be set to allowed paths.
      pattern:
        spec:
          =(volumes):
          - =(hostPath):
              path: "{{ join " | " .Values.users.allowHostPaths }}"
