{{- if .Values.global.debugGroups }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ include "osc.common.name" . }}-pod-debug'
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "osc.common.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
      - pods/log
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - get
      - list
      - create
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ include "osc.common.name" . }}-pod-debug'
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "osc.common.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "osc.common.name" . }}-pod-debug'
subjects:
{{- range .Values.global.debugGroups }}
- kind: Group
  name: {{ . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
