{{- if .Values.global.maintenanceGroups }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ include "osc.common.name" . }}-maintenance'
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "osc.common.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
      - pods/log
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - get
      - list
      - create
  - apiGroups:
      - ""
    resources:
      - pods/portforward
      - pods/proxy
      - services/proxy
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - deletecollection
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
      - replicasets
    verbs:
      - get
      - list
  - apiGroups:
      - apps
    resources:
      - deployments/scale
    verbs:
      - get
      - patch
      - update
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ include "osc.common.name" . }}-maintenance'
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "osc.common.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "osc.common.name" . }}-maintenance'
subjects:
{{- range .Values.global.maintenanceGroups }}
  - kind: Group
    name: {{ . | quote }}
    apiGroup: rbac.authorization.k8s.io
{{- end }}
{{ end }}
