global:
  # -- The service account used by OSC deployments.
  # Also pulled from global.env.<env>.serviceAccount
  oscServiceAccount: ""
  # -- The deployment's OSC environment
  environment: production
  # -- The OSC node role to use with nodeSelector
  nodeSelectorRole: webservices
  imagePullSecret:
    # -- Create the image pull secret
    create: true
    # -- imagePullSecret name
    name: osc-registry
    # -- imagePullSecret registry
    registry: docker-registry.osc.edu
    # -- imagePullSecret username
    username: robot$webservices-read
    # -- imagePullSecret password.
    # This value will be set by OSC's Puppet.
    # This value must be set to IMAGE-PULL-PASSWORD for CI tests.
    password:
  networkPolicy:
    # -- Create the network policy
    create: true
    # -- Labels to allow Ingress from the same namespace
    ingressLabels: {}
    # -- Name of the Ingress namespace
    ingressNamespace: ingress-nginx
    # -- Name of the Prometheus namespace
    prometheusNamespace: prometheus
  # -- Groups that debug pods
  debugGroups: []
  # -- Groups that can perform maintenance operations
  maintenanceGroups: []
  # -- Groups that are allowed to perform port forwarding
  portforwardGroups: []
  # -- The persistent storage class
  storageClass: webservices-nfs-client

slurmCluster: "ascend"
license: ''
project: ''
workingDir: /opt/cryosparc_master
env: []
defaultCommand: {}
containers: {}
image:
  repository: docker-registry.osc.edu/sciapps/cryosparc
  tag:
  pullPolicy: IfNotPresent

mounts:
  home: /users/{{ .Values.project }}/{{ include "osc.common.serviceAccountValue" . }}
  project: /fs/ess/{{ .Values.project }}
  slurm_conf: /etc/slurm
  munge_socket: /var/run/munge/munge.socket.2

nodeSelector: {}

podSecurityContext:
  runAsNonRoot: true

podResources:
  limits:
    cpu: 8
    memory: 32Gi
  requests:
    cpu: 4
    memory: 16Gi

# Also pulled from global.env.$environment.replicas
# replicas: 1

podDistributionBudget:
  minAvailable: 1

secrets: {}
envSecrets: {}

debugGroups: []

alert:
  # Also pulled from global.env.$environment.alert.receiver
  receiver:

service:
  basePort: 31000

probes:
  type: ~
  path: /
startupProbe:
  httpGet:
    path: '{{ .probePath | default .Values.probes.path }}'
    port: '{{ .portName | default .name }}'
  tcpSocket:
    port: '{{ .portName | default .name }}'
  failureThreshold: 12
  periodSeconds: 10
  timeoutSeconds: 5
livenessProbe:
  httpGet:
    path: '{{ .probePath | default .Values.probes.path }}'
    port: '{{ .portName | default .name }}'
  tcpSocket:
    port: '{{ .portName | default .name }}'
  failureThreshold: 6
  periodSeconds: 10
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: '{{ .probePath | default .Values.probes.path }}'
    port: '{{ .portName | default .name }}'
  tcpSocket:
    port: '{{ .portName | default .name }}'
  failureThreshold: 6
  periodSeconds: 10
  timeoutSeconds: 5

initContainers: {}
init:
  podResources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 256Mi

ingress:
  # Also pulled from global.env.$environment.ingress.host
  host: ""
  # Also pulled from global.env.$environment.ingress.hostAlias
  hostAlias: ""
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"

auth:
  enable: true
  clientID: kubernetes-{{ include "cryosparc.name" . }}
  clientSecret:
  cookieSecret:
  cookieName: _{{ include "osc.common.serviceAccountValue" . }}{{ include "osc.common.environment" . }}
  # Also pulled from global.env.$environment.auth.idpHost
  idpHost:
  oidcIssuerURL: https://$(IDP_HOST)/realms/osc
  # Also pulled from global.env.$environment.auth.accessGroup
  allowGroups:
  skipAuthRoute:
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.1.3
    pullPolicy: IfNotPresent
  service:
    port: 4180
    annotations:
      prometheus.io/probe_module: http-healthz
      prometheus.io/probe_path: /ping
  metricsService:
    type: ClusterIP
    port: 8080
    annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/path: /metrics
  podResources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
  ingress:
    className: ~
    annotations:
      prometheus.io/probe_path: /ping
  # Also pulled from global.env.$environment.auth.replicas
  # replicas: 1
  podDistributionBudget:
    minAvailable: 1

hook:
  image:
    repository: docker-registry.osc.edu/kubernetes/bitnami/kubectl
    tag: '1.27.14'
# Used for network policies
ingressName: ingress-nginx
prometheusName: prometheus
