global:
  imagePullSecret:
    name: osc-registry
    registry: docker-registry.osc.edu
    username: robot$webservices-read
    password:
  nodeSelectorRole: webservices
  storageClass: webservices-nfs-client
license: ''
workingDir: /opt/cryosparc_master
command: []
args: []
env: []
containers: {}
image: {}
mounts:
  home: ''
  emptyDir: {}
  rwDir: {}
  roDir: {}
    slurm-conf: /etc/slurm
  socket:
    munge-socket: /var/run/munge/munge.socket.2

nodeSelector: {}

podSecurityContext:
  runAsNonRoot: true

podResources:
  limits:
    cpu: 4
    memory: 4Gi
  requests:
    cpu: 1
    memory: 256Mi

# Also pulled from global.env.$environment.replicas
# replicas: 1

podDistributionBudget:
  minAvailable: 1

secrets: {}
envSecrets: {}

debugGroups: []

alert:
  # Also pulled from global.env.$environment.alert.receiver
  receiver:

service:
  basePort: 39000

probes:
  type: ~
  path: /
  typeDefaults:
    rshiny: tcpSocket
startupProbe:
  httpGet:
    path: '{{ .probePath | default .Values.probes.path }}'
    port: '{{ .portName | default .name }}'
  tcpSocket:
    port: '{{ .portName | default .name }}'
  failureThreshold: 12
  periodSeconds: 10
  timeoutSeconds: 5
livenessProbe:
  httpGet:
    path: '{{ .probePath | default .Values.probes.path }}'
    port: '{{ .portName | default .name }}'
  tcpSocket:
    port: '{{ .portName | default .name }}'
  failureThreshold: 6
  periodSeconds: 10
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: '{{ .probePath | default .Values.probes.path }}'
    port: '{{ .portName | default .name }}'
  tcpSocket:
    port: '{{ .portName | default .name }}'
  failureThreshold: 6
  periodSeconds: 10
  timeoutSeconds: 5

initContainers: {}
init:
  podResources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 256Mi

ingress:
  # Also pulled from global.env.$environment.ingress.host
  host: ""
  # Also pulled from global.env.$environment.ingress.hostAlias
  hostAlias: ""
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"

auth:
  enable: true
  clientID: kubernetes-{{ include "cryosparc.name" . }}
  clientSecret:
  cookieSecret:
  cookieName: _{{ include "osc.common.serviceAccountValue" . }}{{ include "osc.common.environment" . }}
  # Also pulled from global.env.$environment.auth.idpHost
  idpHost:
  oidcIssuerURL: https://$(IDP_HOST)/realms/osc
  # Also pulled from global.env.$environment.auth.accessGroup
  allowGroups:
  skipAuthRoute:
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.1.3
    pullPolicy: IfNotPresent
  service:
    port: 4180
    annotations:
      prometheus.io/probe_module: http-healthz
      prometheus.io/probe_path: /ping
  metricsService:
    type: ClusterIP
    port: 8080
    annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/path: /metrics
  podResources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
  ingress:
    className: ~
    annotations:
      prometheus.io/probe_path: /ping
  # Also pulled from global.env.$environment.auth.replicas
  # replicas: 1
  podDistributionBudget:
    minAvailable: 1

hook:
  image:
    repository: docker-registry.osc.edu/kubernetes/bitnami/kubectl
    tag: '1.27.14'
# Used for network policies
ingressName: ingress-nginx
prometheusName: prometheus
