---
namespaces:
- name: test
  serviceAccount: test-account
  account: test
  groups: ['testgroup']
  allowedDNS:
    - test.example.com
    - test.k8.example.com
  managePVC: true
  cpuLimit: '8'
  cpuDefault: '1'
  memoryLimit: '16Gi'
  memoryDefault: '2Gi'
  imagePullSecret:
    username: testuser
    password: password
- name: foo
  serviceAccount: foo-account
  account: foo
  groups: ['bar']
  collectLogs: true
  imagePullSecret:
    username: foo
    password: password
- name: baz
  serviceAccount: example
  account: baz
- name: testuser
  serviceAccount: testuser
  account: testgroup
  users: ['testuser']
