{{ range $namespace := .Values.namespaces }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: paas-{{ $namespace.name }}-pvc
  namespace: {{ $namespace.name }}
  labels:
    {{- include "paas.namespaced.labels" (list $namespace $) | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
    - persistentvolumeclaims
    - persistentvolumeclaims/status
  verbs:
    - get
    - list
    - watch
{{ if ($namespace.managePVC | default $.Values.default.managePVC) -}}
- apiGroups: [""]
  resources:
    - persistentvolumeclaims
  verbs:
    - create
    - patch
    - update
    - delete
    - deletecollection
{{ end -}}
{{ end -}}
