name: Release Docker

on:
  push:
    branches:
      - main
    paths:
      - docker-images/**
      - .github/workflows/release_docker.yaml

jobs:
  release-docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - dcgm-exporter
          - mariadb
          - postgresql
          - nominatim
          - postgresql-nominatim
          - cryosparc
    name: Release ${{ matrix.image }} Docker image
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to DockerHub
        if: matrix.image != 'dcgm-exporter'
        uses: docker/login-action@v2
        with:
          registry: docker-registry.osc.edu
          username: ${{ secrets.OSC_REGISTRY_ROBOT_WEBSERVICES_USERNAME }}
          password: ${{ secrets.OSC_REGISTRY_ROBOT_WEBSERVICES_TOKEN }}
      - name: Login to DockerHub
        if: matrix.image == 'dcgm-exporter'
        uses: docker/login-action@v2
        with:
          registry: docker-registry.osc.edu
          username: ${{ secrets.OSC_REGISTRY_ROBOT_OSC_USERNAME }}
          password: ${{ secrets.OSC_REGISTRY_ROBOT_OSC_TOKEN }}
      - name: Build and Push ${{ matrix.image }} image
        run: |
          make -f docker-images/${{ matrix.image }}/Makefile build
          make -f docker-images/${{ matrix.image }}/Makefile push
